extend layout

block content
  section.blue-band
    .container.tagline
      h1.tagline-header Sick of making the tea all the time?
      p.tagline-subheader Then join the random fun of the amido tea maker!
        a#sign-up.btn Sign Up