<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Brew</th>
  </thead>
  <tbody class="tb">
    <% for (var count in brewers) {
      var brewer = brewers[count];
    %>
      <td><%= brewer.name %></td>
      <td><%= brewer.brew %></td>
    <% } %>
  </tbody>
</table>