extend layout

block content
  section.blue-band
    .container.tagline
      h1.tagline-header Who's brewing up right now?
      p.tagline-subheader Then join the random fun of the amido tea maker!
  section.current-round
    #current-round.container.tagline